<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>家庭記帳本</title>

  <link rel="stylesheet" href="/stylesheet/bootstrap.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/stylesheet/all.css">
  <script defer src="/javascript/all.js"></script>

  <link rel="stylesheet" href="/stylesheet/main.css">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/">家庭記帳本</a>
      {{#if isAuthenticated}}
      <a class="btn btn-major" href="/users/logout">登出</a>
      {{else}}
      <div>
        <a class="btn btn-major" href="/users/login">登入</a>
        <a class="btn btn-major" href="/users/register">註冊</a>
      </div>
      {{/if}}
    </div>
  </nav>
  <main>
    <div class="container" id="container">
      {{{body}}}
    </div>
  </main>
</body>
<script src="/javascript/bootstrap.bundle.js"></script>
<script src="/javascript/main.js"></script>

</html>