.total-amount {
  font-size: 64px;
  color: #fd7e14;
}

.icon {
  margin-right: 10px;
  color: #65b2bf;
}

.record:nth-child(odd) {
  background: #eeeeee;
}

.button-box {
  background-color: #ffffff;
}

.btn-major {
  background-color: #fd7e14;
  color: #ffffff;
}

.btn-major:hover {
  background-color: #bd3e00;
  color: #ffffff;
}

.btn-new {
  display: block;
  margin: 5vh auto 0;
}