<form action="/records" method="POST" class="needs-validation" novalidate>
  <div class="container container-narrow">
    <div class="row mt-3">
      <div class="col-4">*必填欄位</div>
      <div class="col-8 font-size-larger">請輸入你的支出</div>
    </div>

    <div class="row mt-3 font-size-larger">
      <span class="col-4">名稱*：</span>
      <div class="col-8">
        <input class="form-control font-size-large" name="name" type="text" placeholder="早餐" required>
        <div class="invalid-feedback">
          請輸入支出名稱
        </div>
      </div>
    </div>

    <div class="row mt-3 font-size-larger">
      <div class="col-4">日期*：</div>
      <div class="col-8">
        <input class="form-control  font-size-large" name="date" type="date" placeholder="2020-01-01" required>
        <div class="invalid-feedback">
          請輸入日期
        </div>
      </div>
    </div>

    <div class="row mt-3 font-size-larger">
      <div class="col-4">類別*：</div>
      <div class="col-8">
        <select class="form-select  font-size-large" name="category" aria-label="select category" required>
          <option value="" selected>Select</option>
          {{#each categories}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
        </select>
        <div class="invalid-feedback">
          請輸入類別
        </div>
      </div>
    </div>

    <div class="row mt-3 font-size-larger">
      <span class="col-4">商家：</span>
      <div class="col-8">
        <input class="form-control font-size-large" name="merchant" type="text" placeholder="巷口早餐店">
      </div>
    </div>

    <div class="row mt-3 font-size-larger">
      <div class="col-4">金額*：</div>
      <div class="col-8">
        <input class="form-select  font-size-large" name="amount" placeholder="50" type="number" setp="1" min="0"
          required>
        <div class="invalid-feedback">
          請輸入金額
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-4"></div>
      <div class="col-8">
        <button class="btn btn-major w-100" type="submit">新增支出</button>
      </div>
    </div>
  </div>
</form>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>