<form action="/" method="POST">
  <div class="container container-narrow">
    <div class="row mt-3">
      <div class="col-4">*必填欄位</div>
      <div class="col-8 font-size-larger">請修改你的支出</div>
    </div>

    <div class="row mt-3 font-size-larger">
      <span class="col-4">名稱*：</span>
      <div class="col-8">
        <input class="form-control font-size-large" name="name" type="text" placeholder="早餐">
      </div>
    </div>

    <div class="row mt-3 font-size-larger">
      <div class="col-4">日期*：</div>
      <div class="col-8">
        <input class="form-control  font-size-large" name="date" type="date">
      </div>
    </div>

    <div class="row mt-3 font-size-larger">
      <div class="col-4">類別*：</div>
      <div class="col-8">
        <select class="form-select  font-size-large" name="category" aria-label="select category">
          <option value="" selected>Select</option>
          {{#each categories}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="row mt-3 font-size-larger">
      <div class="col-4">金額*：</div>
      <div class="col-8">
        <input class="form-select  font-size-large" name="amount" placeholder="50" type="number" setp="1" min="0">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-4"></div>
      <div class="col-8">
        <button class="btn btn-major w-100" type="submit">送出</button>
      </div>
    </div>
  </div>
</form>